@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Jua&family=Roboto:wght@300;400;500&display=swap");

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

span {
  font-family: "Roboto", sans-serif;
}

.Banner {
  display: flex;
  margin-top: 20px;
}

.left-banner {
  margin: 0 200px 0 100px;
}

.traced {
  position: absolute;
  left: 87.14%;
  right: 9.43%;
  top: 38.15%;
  bottom: 54.07%;
}

.Text1 {
  position: absolute;
  top: 250px;
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 160px;
  color: #1877f2;
}

.Text2 {
  position: absolute;
  top: 400px;
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 160px;
  color: #1877f2;
}

.Text3 {
  position: absolute;
  top: 400px;
  right: 240px;
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 160px;
  color: #ffdc26;
}

.and {
  position: absolute;
  top: 360px;
  right: 620px;
  font-family: "Italianno", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 120px;
  color: #000000;
}
